.widget-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: var(--pri-color);

    border-radius: .5rem;
}

.inner-widget {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 1rem;
    width: 100%;
    height: calc(100% - 1rem);
    background-color: none;
    border-radius: .5rem;
}

.leaflet-container {
    height: 100%;
    width: 100%;
    border-radius: .4rem;
}