.concert-card-filter-and-display {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0 .5rem;
}

.scrollable-widget {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  border-radius: .4rem 0 0 .4rem;
  background-color: rgba(253, 253, 253, 0.521);
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.4);

  margin: 0;
}

.no-concerts-found {
  display: flex;
  justify-content: center;
  align-items: center;
}

.concert-event {
  padding: .5rem 0;
}

.event-name {
  text-transform: capitalize;
  padding-left: 1rem;
}

.date-and-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.tickets-button {
  background-color: gray;
  padding: 0.5rem;
  border-radius: .4rem;

}

.ticket-logo {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.25rem;
  color: rgb(220, 255, 45);
}

.concert-event.selected {
  background-color: rgba(0, 0, 0, 0.4);
}

.concert-event:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.filter-dropdown {
  width: 100%;
}

/* The scrollbar track */
.scrollable-widget::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
  
/* The scrollbar handle */
.scrollable-widget::-webkit-scrollbar-thumb {
  background: #888; 
}
  
/* On hover, the handle changes color */
.scrollable-widget::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* The scrollbar itself */
.scrollable-widget::-webkit-scrollbar {
  width: 10px; /* Adjust as needed */
}

@media (max-width: 1000px) {
  .leaflet-container {
    width: 0vw;
  }

  .scrollable-widget {
    box-shadow: none;
    background-color: rgba(253, 253, 253, 0.75);
    width: 325px;
    margin: 0;
    padding: 0;
  }
}