.widget-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color:  var(--pri-color);

    border-radius: .5rem;
}

.inner-widget {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 1rem;
    width: 100%;
    height: calc(100% - 1rem);
    background-color: var(--sec-color);
    border-radius: .5rem;
}

.artist-widget-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.artist-picture {
    aspect-ratio: 1/1;
    align-self: left;
    height: 29vh;
    margin: 0 1rem;
}

.artist-widget-right-portion {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.artist-name {
    display: flex;
    align-self: right;
}

.artist-spotify-link {
    display: flex;
    align-self: right;
}