.main-content-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: .4rem;
    margin: 0;
    padding: 0;

    width: 99vw;
    height: 90vh;

    background-color: rgba(0, 0, 0, 0);
    
}

.sidebar {
    display: flex;
    height: 100%;
    width: 30%;
    margin: 0;
    padding: 0;
}

.main-display {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    padding: 0;
    background-color: rgba(94, 94, 94, 0.527);
    border-radius: .4rem;
    width: 70%;
    height: 100%;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.4);
}

.searched-artist-picture {
    border-radius: .4rem;
}

.searched-artist-name {
    color: black;
}

.searched-artist-spotify-link {
    aspect-ratio: 1/1;
    border-radius: .4rem;
    border: none;
}

.searched-artist-spotify-link:hover {
    background-color: rgba(175, 175, 175, 0.8);
}