.main-content-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: .4rem;
    margin: 0;
    padding: .3rem;

    width: 99vw;
    height: 90vh;

    background-color: rgba(0, 0, 0, 0);
    overflow: hidden;

}

.sidebar {
    display: flex;
    height: 99%;
    width: 30%;
    margin: 0 .25rem 0 0;
    padding: 0 0.15rem;
}

.main-display {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    padding: 0 0.15rem;
    background-color: rgba(94, 94, 94, 0.527);
    border-radius: .4rem;
    width: 68%;
    height: 99%;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.4);
}

  @media (max-width: 1000px) {
    .sidebar {
      position: fixed;
      left: 0;
      top: 10vh;
      width: 100%;
      height: 100%;
      z-index: 9999;
      transform: translateX(-110%);
      transition: transform 0.4s ease-out;
      margin: 0;
      padding: 0;
    }

    .filter-dropdown {
        height: 2rem;
    }

    .main-display {
        width: 100%;
        transition: transform 0.3s ease-out;
    }

    .sidebar.active {
        transform: translateX(0);
    }
}