.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background: rgba(253, 253, 253, 0.75);
    border: none;
    box-shadow: none;
    width: 200px;
    padding: 0.06rem;
    border-radius: .4rem;
}