.header-container {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: .5vh .75vw 0 .75vw;
}

.sidebar-button {
    display: none;
    color: black;
}

.sidebar-button:visited,
.sidebar-button:hover,
.sidebar-button:active,
.sidebar-button:focus {
  color: black;
}

.city-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.city-form input {
    width: 20rem;
    height: 2rem;
    border-radius: .5rem;
    margin: 2.5vh 0;
    font-size: 1.25rem;
    border: 1px solid black;
}

.city-form button {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-left: .5rem;
    border: none;
    background: none;
    transition: background-color .3s;
    color: white;
}

.city-form button:visited,
.city-form button:hover,
.city-form button:active,
.city-form button:focus {
    background-color: rgb(220, 255, 45);
    color: black;
}

@media (max-width: 1000px) {
    .header-container {
        display: flex;
        justify-content: space-between;
        margin: .25rem .25rem 0 .25rem;
    }

    .sidebar-button {
        margin-left: .5rem;
        display: flex;
        width: 2rem;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        background: none;
        border: none;
    }

    .city-form {
        margin: 0 .5rem 0 0;
    }

    .city-form input {
        width: 50vw;
    }

    .city-form button {
        margin-right: 1rem;
    }

    @media (max-width: 400px) {
        .city-form input {
            width: 40vw;
        }
    }

}