.sidebar-button {
    display: none;
    color: black;
}

.sidebar-button:visited,
.sidebar-button:hover,
.sidebar-button:active,
.sidebar-button:focus {
  color: black;
}

.city-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.city-form input {
    width: 20rem;
    height: 2rem;
    border-radius: .5rem;
    margin: 2.5vh 0;
    font-size: 1.25rem;
    border: 1px solid black;
}

.city-form button {
    width: 5rem;
    height: 2rem;
    border-radius: .5rem;
    margin-left: 1rem;
    border: 1px solid black;
    background-color: rgb(230, 230, 230)
}

.city-form button:visited,
.city-form button:hover,
.city-form button:active,
.city-form button:focus {
    background-color: rgb(230, 230, 230)
}

@media (max-width: 1000px) {
    .header-container {
        display: flex;
        justify-content: space-between;
    }
    
    .sidebar-button {
        margin-left: 1rem;
        display: flex;
        width: 2rem;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        background: none;
        border: none;
    }

    .city-form {
        margin: 0 1rem 0 0;
    }

    .city-form input {
        width: 50vw;
    }

    .city-form button {
        width: 4rem;
    }

    @media (max-width: 400px) {
        .city-form input {
            width: 40vw;
        }
    }

}