:root {
    --pri-color: #2f334a;
    --sec-color: #3b4161;
    --grad-color1: #2a2745;
    --grad-color2: #100f1c;

    --select-color: #00000070;
    --hover-color: #00000030;

    --scroll-sel-color: #eeeeee;
    --scroll-thumb-color: #cccccc95;
    --scroll-track-color: #81818125;

    --txt-color: #ffffff;
    --accent-color: #e7d762;

    --trans-color: #9caafc50;
}

.App {
    height: 99.6vh;
    margin: .1rem;
}